.modal-overlay_tracking {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 49, 38, 0.65);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content_tracking {
  background: #003e2db9;
  padding: 1rem;
  border: 1px solid #ffc928c7;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  min-height: fit-content;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.torrestir_map_logo {
  display: flex;
}

.map-container {
  height: 400px;
  width: 100%;
}
