.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 49, 38, 0.671);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: rgb(255, 255, 255); /* Slightly lower opacity works better with blur */
  padding: 1rem;
  border: 1px solid #003e2d5d;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  min-height: fit-content;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #003e2d;
}

.torrestir_map_logo {
  display: flex;
}

.map-container {
  height: 400px;
  width: 100%;
}
