body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f9fafb;
  color: #374151;
}

.container {
  padding: 1.5rem;
  max-width: 1200px;
  margin: auto;
}

.trackingInput {
  align-items: center;
  margin-right: 2rem;
  border: 1px green;
  padding: 10px;
  border-radius: 12px;
  width: 60%;
}

.button {
  border: 2px solid #003d2c;
  background: white;
  color: #003d2c;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.button:hover {
  background: #003d2c;
  color: white;
}

@media (max-width: 768px) {
  .trackingInput {
    width: 60%;
  }
}
