/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003d2c; /* or your preferred background color */
  margin: 0 auto;
  height: 50px;
  z-index: 1000;
  position: sticky;
  top: 0;
  padding-right: 20px;
}
.logo-span {
  color: #ffc928c7;
}

.top-logo {
  height: 38px; /* Adjust logo size */
  width: auto;
  object-fit: contain;
  margin-left: 10px; /* Adjust the left margin if necessary */
}

@media (max-width: 600px) {
  .top-logo {
    height: 40px; /* Adjust logo size for mobile */
  }
}
