#root {
  margin: 0 auto;
  text-align: center;
  min-width: 80%;
}

.content-main {
  padding: 2rem;
  margin-top: 80px;
}

@media (max-width: 768px) {
  #root {
    margin: 0 auto;
    min-width: 80%;
  }
}
